body {
  background: black;
  color: white;
  font-family: Courier, monospace;
  font-size: 16px;
  margin: 20px;
  background-image: url("assets/bg-images/2025.4.20.leslietanner.website.backgroundidea1.gif");
  background-size: contain;
}

a {
  color: #006ba6;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 1rem 1.5rem;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.nav-section {
  padding-top: 2em;
}

.sm-icon-image {
  width: 1rem;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.image-grid {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.placeholder-div {
  display: block;
  min-height: 100vh;
}

/* FIRST LINE ANIMATION */
.first-line-wrapper {
  font-weight: 600;
  font-style: italic;
  font-size: 2.25rem;
  overflow: clip;
  width: 100%;
  background-color: yellow;
}
.first-line-text {
  padding: 1rem 0;
  text-transform: uppercase;
  background-color: #f9bd48;
  color: #941c2f;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* FIRST LINE ANIMATION END */
.text-wrapper-0 {
  font-style: italic;
  font-size: 2.25rem;
  margin-left: auto;
  margin-right: auto;
}

.text-wrapper-1 {
  padding: 0 2rem;
}

.section-heading {
  padding: 1rem;
}

.leslie-image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leslie-image-0 {
  /* filter: sepia(7%) saturate(400%) hue-rotate(10deg) brightness(80%)
    contrast(120%); */
  border: 1rem inset #f9bd48;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .leslie-image-0 {
    width: 60%;
  }
}
.divider {
  margin: 4rem auto;
  width: 50%;
  border: 10px outset #f9bd48;
}

.store-table {
  width: 100%;
  border-collapse: separate;
  border: 0.2rem solid white;
}
.store-table-row {
  width: 100%;
}
.store-table-cell {
  padding: 1rem;
  width: 33%;
  border: 0.2rem solid white;
}
.store-table-cell-heading {
  width: 33%;
  border: 0.2rem solid white;
}
.store-table-cell-description {
  padding: 1rem;
  width: 66%;
  font-weight: 100;
  text-align: left;
  border: 0.2rem solid white;
  border-right: 0;
}
.store-table-cell-fix-border {
  border: 0.2rem solid white;
  border-left: 0;
}
.store-item-img {
  width: 100%;
}

.store-buy-button {
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.styleLikeButton {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;

  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 1rem;

  border: 2px outset ButtonBorder;
  border-radius: 2px;
  background-color: ButtonFace;
  color: ButtonText;

  font: 13.3333px Arial;
  line-height: normal;
  text-align: center;
  text-rendering: auto;
  white-space: pre;

  cursor: pointer;
}

.styleLikeButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.styleLikeButton:focus {
  outline: 1px dotted;
  outline-offset: -1px;
}

#writing {
  padding: 1em;
  line-height: 1.5;
}

.writing-img-wrapper {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

.writing-subheading {
  /* text-align: center; */
}

.writing-img {
}

@media only screen and (max-width: 767px) {
  .writing-img {
    width: 60%;
  }
}
