body {
  background: black;
  color: white;
  font-size: 16px;
  background-image: url("assets/bg-images/2025.4.20.leslietanner.website.backgroundidea1.gif");
  background-size: contain;
  margin: 0;
  font-family: sans-serif;
}
@media only screen and (max-width: 767px) {
  body {
    background-size: cover;
    background-size: auto;
  }
}

a {
  color: #006ba6;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}

.home-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

/* NAVBAR */
.navbar {
  margin-top: 6em;
  position: sticky;
  top: 0;
  background-color: black;
  padding: 1rem 1.5rem;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.nav-section {
  padding-top: 2em;
}
.sm-icon-image {
  width: 1rem;
}
@media only screen and (max-width: 767px) {
  .navbar {
    font-size: 12px;
    /* margin-top: 2em; */
    padding: 1em 0.5em 0.5em;
  }
}

/* FIRST LINE ANIMATION */
.first-line-wrapper {
  font-weight: 600;
  font-style: italic;
  font-size: 2.25rem;
  overflow: clip;
  width: 100%;
  background-color: yellow;
}
.first-line-text {
  padding: 1rem 0;
  text-transform: uppercase;
  background-color: #f9bd48;
  color: #941c2f;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* FIRST LINE ANIMATION END */

.text-wrapper-0 {
  font-style: italic;
  font-size: 2.25rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .text-wrapper-0 {
    font-size: 2rem;
  }
}

.text-wrapper-1 {
  padding: 0 2rem 3em;
}

.section-heading {
  padding: 1rem;
}

.leslie-image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leslie-image-0 {
  border: 1rem inset #f9bd48;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .leslie-image-0 {
    width: 60%;
  }
}
.divider {
  margin: 4rem auto;
  width: 50%;
  border: 10px outset #f9bd48;
}

/* YOU MADE IT THIS FAR SECTION */
.info-section {
  line-height: 1.25em;
  padding: 2em 1em 0;
}

/* STORE SECTION  */
#store {
  margin-bottom: 8em;
}

.store-table {
  width: 100%;
  border-collapse: separate;
  border: 0.2rem solid white;
  margin-bottom: 4em;
}
.store-table-row {
  width: 100%;
}
.store-table-cell {
  padding: 1rem;
  width: 33%;
  border: 0.2rem solid white;
}
.store-table-cell-heading {
  width: 33%;
  border: 0.2rem solid white;
}
.store-table-cell-description {
  padding: 1rem;
  width: 66%;
  font-weight: 100;
  text-align: left;
  border: 0.2rem solid white;
  border-right: 0;
}
.store-table-cell-fix-border {
  border: 0.2rem solid white;
  border-left: 0;
}
@media only screen and (max-width: 767px) {
  .store-table,
  .store-table-row {
    max-width: calc(100% - 0.4em);
  }
}
.store-item-img {
  width: 100%;
}
.store-buy-button {
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
.styleLikeButton {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;

  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 1rem;

  border: 2px outset ButtonBorder;
  border-radius: 2px;
  background-color: ButtonFace;
  color: ButtonText;

  font: 13.3333px Arial;
  line-height: normal;
  text-align: center;
  text-rendering: auto;
  white-space: pre;

  cursor: pointer;
}
.styleLikeButton:disabled {
  cursor: default;
  opacity: 0.5;
}
.styleLikeButton:focus {
  outline: 1px dotted;
  outline-offset: -1px;
}

/* WRITING SECTION */
#writings {
  padding: 1em 1em 0;
  line-height: 1.5;
}

.writing-subheading {
  padding-top: 4em;
  margin-top: -4em;
}

.writing-img-wrapper {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .writing-img {
    width: 60%;
  }
}
