body {
  background: black;
  color: white;
  font-family: Courier, monospace;
  font-size: 16px;
  margin: 20px;
  background-image: url("assets/bg-images/2025.4.20.leslietanner.website.backgroundidea1.gif");
  background-size: contain;

  /* background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; */
}

a {
  color: #006ba6;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 1rem;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.nav-section {
  padding-top: 2em;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.image-grid {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.placeholder-div {
  display: block;
  min-height: 100vh;
}

/* FIRST LINE ANIMATION */
.first-line-wrapper {
  font-weight: 600;
  font-style: italic;
  font-size: 2.25rem;
  overflow: clip;
  width: 100%;
  background-color: yellow;
}
.first-line-text {
  padding: 1rem 0;
  text-transform: uppercase;
  background-color: #f9bd48;
  color: #941c2f;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* FIRST LINE ANIMATION END */

.text-wrapper-0 {
  font-style: italic;
  font-size: 2.25rem;
  margin-left: auto;
  margin-right: auto;
}

.text-wrapper-1 {
  padding: 0.5rem;
}

.leslie-image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leslie-image-0 {
  /* filter: sepia(7%) saturate(400%) hue-rotate(10deg) brightness(80%)
    contrast(120%); */
  border: 1rem inset #f9bd48;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .leslie-image-0 {
    width: 60%;
  }
}

.divider {
  width: 50%;
  margin-bottom: 1rem;
  border: 10px outset #f9bd48;
}

.store-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.store-item-img {
  width: 20%;
}
