body {
  background: black;
  color: white;
  font-family: Courier, monospace;
  font-size: 16px;
  margin: 20px;

  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a {
  color: blue;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.image-grid {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
